
.trading-account-card {
    margin-bottom: 0.50rem; 
  }
  
  .card-body {
    padding: 0.3rem; 
  }
  
  .text-muted {
    font-size: 0.9rem; 
  }
  
  .card-header {
    margin-bottom: 0.5rem; 
  }
  